div *{
    background-color: aquamarine;
}
#first{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    border-style: dotted;
    border-color: brown;
}
.second{
    border: 2px solid red;
    border-radius: 10px;
}
