body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}

.container {
    width: 600px;
    margin: auto;
    padding: 20px;
    background: #ea9595;
    border-radius: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-box label {
    font-weight: bold;
    margin-right: 10px;
}

.search-box input {
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    margin-right: 10px;
}

.search-box button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
}

.search-box button:hover {
    background-color: #0056b3;
}

.image-box img {
    max-width: 100%;
    margin: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.more-link {
    text-align: center;
    margin-bottom: 20px;
}

.more-link a {
    color: #007BFF;
    text-decoration: none;
}

.more-link a:hover {
    text-decoration: underline;
}

.feedback-form {
    margin-top: 20px;
}

.feedback-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.feedback-form input,
.feedback-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.feedback-form button {
    padding: 8px 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
   
}
